body {
  font-family: 'Hubballi', cursive;
  background-color: #f1f5f9;
  font-size: 1.6rem; 
}
header{
  background: #C02425;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 1.5rem;
  border-bottom: .5rem solid #FFF; 
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
}
footer{
  background: #C02425;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: block;  
  position: fixed;
  left: 0; 
  right: 0;
  bottom: 0;
  padding: 1rem;
  border-top: .35rem solid rgb(202, 202, 202); 
}
footer h2{
  text-align: center;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  margin:0;
}
header h1 {
  text-align: center;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  margin:0;
}
.dos-columnas {
  display: grid;
  gap: 4rem;
}
@media (min-width: 768px) {
  .dos-columnas {
    grid-template-columns: repeat(2, 1fr);
  }
}
main {
  margin: 4rem auto;
  max-width: 1200px;
}
.contenedor {
  margin: 0 auto .5rem auto;
  border-radius: .5rem;
  background-color: rgb(255, 255, 255);
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  -webkit-box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  -moz-box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  box-shadow: 0px 10px 33px -17px rgba(173,173,173,1);
  width: 100%;
  margin-bottom: 4rem;
}
form {
  width: 100%;
}
.campo {
  max-width: 400px;
  margin: 0 auto 1rem auto;
}
.campo label {
  display: block;
  font-weight: bold;
}
.campo input,
.campo select {
  all: unset;
  border: 1px solid #cbd5e1;
  width: 100%;
  border-radius: 1rem;
  padding: .5rem;
  
}



 input[type="submit"] {
  background-color: #e9780e;
  margin: 2rem auto 0 auto;
  display: block;
  padding: 1rem 3rem;
  color: white;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  border: none;
  width: 100%;
  transition: background-color .3s ease;
  border-radius: 100px;
  transition-duration: 250m,s;
  bottom: 0;
}
@media (min-width: 768px) {
   input[type="submit"]  {
     max-width: 400px;
  }
}
 input[type="submit"]:hover {
  background-color: #aa590d;
  cursor:pointer;
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.alert {
  border-top: 5px solid #d51007;
  border-bottom: 5px solid #d51007; 
  text-align: center;
  padding: .5rem;
  width: auto;
  display: block;
  background-color: #f1340098;
  color:white;
  font-weight: bold;
  border-radius: 10px;
}

.clima{
  padding-top: 2rem;
}
 
.clima p{
  text-align: center;
  margin: 0;
} 
.clima p span{
  font-size: 1rem;
  vertical-align: super;
}
.clima .c{
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Inter', sans-serif
}

.temp_min_max{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.feel{
  font-size: 2rem;
  font-weight: bold;
  text-align: center; 
}
.feel span{
  font-size: 1rem;
  vertical-align: super; 
}
.weather{
  display: flex;
  justify-content:space-evenly; 
  align-items: center;
  color: white;
  background: linear-gradient(to left, #f1f0ec, #2448c0);
  border-radius: 15px; 
  margin-bottom: .5rem;  
  font-size: 3rem; 
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.desc{
  text-transform: uppercase;
  font-weight: bold; 
  text-align: center;
}

.title h2{
  text-align: center;
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  margin-top: 0;
}
.spinner {
  width: 100px;
  height: 100px;
  background-color: #e9780e;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}